# Ignore node_modules folder
node_modules/

# Ignore logs
*.log

# Ignore env files
.env

# Ignore build folders
dist/
build/

# Ignore temporary files
*.tmp
.DS_Store

# Ignore VS Code settings
.vscode/
